ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(18, 0, 31);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }
  li{
    display: inline
  }
  li a {
    color: aliceblue;
    padding: 14px 16px;
    text-decoration: none;
    font-size: medium;
    text-align: center;
  }

  li a:hover{
    background-color: blueviolet;
  }
  *{
    margin: 0;
    padding: 0;
  }
  .classfdx{
    float: right;
  }
  .textlist{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0px 50px 0px 0px;
  }
  .tuttolist{
    display: flex;
}
  .imgl{
    float: left;
    width: 80%;
    padding: 0px 10px 10px 0px;
  }
