caption{
    caption-side: bottom;
}
.class1{
    color: aqua;
}
.class2{
    color: rgb(53, 4, 99);
}
#id1{
    border: 1px solid green;
}
th, td{
    border: 1px dashed black;
    border-radius: 10px;
    background-color: rgb(214, 156, 216);
}
table{
 border: 1px solid black;
 border-radius: 10px;
 background-color: rgb(185, 255, 138);   
}
td, th{
    padding: 10px;
    text-align: center;
}
img{
    width: 20px;
}
